html, body {
  background: rgb(255,144,144);
  background: linear-gradient(150deg, rgba(255,144,144,1) 0%, rgba(196,50,159,1) 25%, rgba(48,90,252,1) 59%, rgba(34,224,71,1) 100%);
  overflow-x:hidden;
}

.container {
  height: 100vh;
}